@media only screen and (max-width: 800px) {
    body {
        height: 100%;
        width: 100%;
    }
    main {
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .typing_area_cont {
        width: 100%;
        height: 100%;
        transform: translate(0);
    }
    
    .typing_area {
        width: 100%;
        height: 100%;
        resize: none;
        outline: none;
        border: none;
        padding: 40px 30px;
        line-height: 22px;
        text-align: justify;
        display: inline-block;
        font-size: 15px;
    }
    
    .on_hover_nav {
        transform: translate(0);
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        position: fixed;
        height: 40px;
        display: flex;
        margin: 0;
        justify-content: center;
    }
    
    .on_hover_nav_item {
        border: 0;
        outline: none;
        padding: 0 30px;
        margin: 0;
        background: none;
    }

    i {
        font-size: 2vw;
        color: #BEBBD4;
    }
    
    .on_hover_nav_item:hover {
        cursor: pointer;
    }

    /* ----------------------------------------------------------- */

    .closebtn {
        position: absolute;
        top: 35px;
        right: 10px;
        font-size: 30px;
        margin-left: 50px;
        background: none;
        border: 0;
        border-radius: 15px;
        outline: none;
    }
    
    .sidebar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        overflow: hidden; 
    }
    
    .sidebar_cont {
        overflow: hidden;
        padding: 40px 20px 40px 30px;
        margin: 30px 0 30px 30px;
        border-radius: 30px;
        overflow: hidden;
        height: 82%;
    }
}