/* FONTS */
.main_font {
    font-family: 'Darker Grotesque', sans-serif;
}
.main_font_bold {
    font-family: 'Darker Grotesque', sans-serif;
}
.secondary_font {
    font-family: 'Darker Grotesque', sans-serif;  
    font-family: 'Inter', sans-serif;
}
.secondary_font_bold {
    font-family: 'Darker Grotesque', sans-serif;  
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.logo_title {
    color: #FFFFFF;
    font-size: 15px;
    margin: 0;
}

.dark_mode_font {
    font-size: 10px;
    color: #FFFFFF;
    text-align: end;
}


/* CONTAINERS */

body {
    margin: 0;
}

div {
    display: block;
}

.sidebar_cont {
    background-color: #BEBBD4;
    overflow-x: hidden;
    padding: 30px;
    margin: 30px;
    border-radius: 30px;
    display: none;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
}

.sidebar_cont:after {
    content: '\f0c9';
  }
  
  .active:after {
    content: "\f2d1";
  }

.on_hover_nav {
    opacity: 1;
    transform: translateX(0);
    left: 100%;
    top: 0;
    z-index: 0;
    transform: translateX(-20px);
    transition: opacity 85ms ease-in,transform 85ms ease-in;
    margin: 30px 0;
    width: auto;
}

.on_hover_nav_item {
    background: #BEBBD4;
    border-radius: 10px;
    clear: both;
    color: #4F4D5D;
    display: block;
    float: left;
    margin-bottom: 8px;
    padding: 10px;
    text-decoration: none;
    transition: transform 85ms ease-in;
    height: 1.2vw;
    width: 1.2vw;
    font-size: 10px;
}

.on_hover_nav_item:hover {
    background: #9A97B4;
}

i {
    color: #FFFFFF;
}

.sidebar {
    height: 100%;
    width: 28vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden; 
    display: flex;
}

.outline_area {
    width: 100%;
}

.title_input {
    background: #BEBBD4;
    font-size: 25px;
    border: 0;
    border-radius: 10px;
    width: 93%;
    height: 30px;
    min-height: 30px;
    max-height: 100px;
    margin-bottom: 30px;
    padding: 5px 5px 5px 10px;
    color: #FFFFFF;
    outline: none;
    overflow: hidden;
    overflow-wrap: break-word;
    resize: vertical;
    margin-top: 0;
}

.title_input:hover {
    background: rgb(255, 255, 255, 0.2);
}

/* Remove margins and padding from the list */
.list {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: auto;
    overflow: auto;
}

/* Style the list items */
.list li {
    cursor: pointer;
    list-style: none;
    position: relative;
    color: #9A97B4;
    transition: 0.2s;
    word-wrap: break-word;
    border-radius: 5px;
    height: auto;
    width: 93%;
    background: rgb(255, 255, 255, 0.2);
    padding: 5px 5px 5px 10px;
    margin-bottom: 4px;
    color: #FFFFFF;
    font-size: 15px;
    outline: none;
    overflow: hidden;
    font-weight: 600;
}

/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px 0px 5px 15px;
    padding: 0 4px 1px 4px;
    border-radius: 15px;
    color: #BEBBD4;
}

.main_deck {
    border: 0;
    border-radius: 5px;
    height: auto;
    width: 93%;
    background: rgb(255, 255, 255, 0.2);
    padding: 5px 5px 5px 10px;
    margin-bottom: 4px;
    color: #FFFFFF;
    font-size: 15px;
    outline: none;
    font-weight: 600;
}

.subdeck {
    border: 0;
    border-radius: 5px;
    height: auto;
    width: 85%;
    background: rgb(255, 255, 255, 0.2);
    padding: 5px 5px 5px 10px;
    margin-bottom: 4px;
    color: #FFFFFF;
    font-size: 15px;
    outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #FFFFFF;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #FFFFFF;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #FFFFFF;
  }

input:hover {
    background: rgb(255, 255, 255, 0.3);
}

main {
    margin-left: 25vw;
    padding: 0px 10px;
    height: 100%;
}

.typing_area_cont {
    padding: 30px;
    height: 92%;
    width: 70.5vw;
    position: fixed;
    top: 0;
    right: 0;
    overflow-x: hidden;
    display: flex;
}

.typing_area {
    width: 100%;
    resize: none;
    outline: none;
    border: none;
    padding-left: 20px;
    padding-top: 20px;
}
.typing_area::placeholder {
    color: #BEBBD4;
}
.typing_area:hover {
    background-color:#f7f7f7;
    border-radius: 30px;
}

.footer_area button {
    background: none;
    outline: none;
    border: 0;
    padding-right: 30px;
    font-size: 10px;
    color: #4F4D5D;
    font-weight: 600;
}

.footer_area button:hover {
    cursor: pointer;
}

.footer_area {
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 30px 0 30px 0;
    column-gap: 5px;
    position: fixed;
    bottom: 0;
    width: 90%;
}