/* FONTS */
.main_font {
    font-family: 'Darker Grotesque', sans-serif;
}
.main_font_bold {
    font-family: 'Darker Grotesque', sans-serif;
}
.secondary_font {
    font-family: 'Darker Grotesque', sans-serif;  
    font-family: 'Inter', sans-serif;
}
.secondary_font_bold {
    font-family: 'Darker Grotesque', sans-serif;  
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.logo_title {
    color: #FFFFFF;
    font-size: 15px;
    margin: 0;
}

.dark_mode_font {
    font-size: 10px;
    color: #FFFFFF;
    text-align: end;
}


/* CONTAINERS */

body {
    margin: 0;
    position: fixed;
    width: 100%;
    height: 95%;
    display: block;
}

.closebtn {
    position: absolute;
    top: 35px;
    right: 40px;
    font-size: 30px;
    margin-left: 50px;
    background: none;
    border: 0;
    border-radius: 15px;
    color: #FFFFFF;
    outline: none;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden; 
    transition: 0.5s;
    background-color: #FFFFFF;
}

.sidebar_cont {
    background-color: #BEBBD4;
    overflow: hidden;
    padding: 40px 20px 40px 30px;
    margin: 30px 0 30px 30px;
    border-radius: 30px;
    overflow: hidden;
    height: 82%;
}

.outline_area {
    width: 100%;
}

.title_input {
    background: #BEBBD4;
    font-size: 25px;
    border: 0;
    border-radius: 10px;
    width: 93%;
    height: 30px;
    min-height: 30px;
    max-height: 100px;
    margin-bottom: 30px;
    padding: 5px 5px 5px 10px;
    color: #FFFFFF;
    outline: none;
    overflow: hidden;
    overflow-wrap: break-word;
    resize: vertical;
    margin-top: 0;
}

.title_input:hover {
    background: rgb(255, 255, 255, 0.2);
}

/* Remove margins and padding from the list */
.list {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: auto;
    overflow: auto;
}

/* Style the list items */
.list li {
    cursor: pointer;
    list-style: none;
    position: relative;
    color: #9A97B4;
    transition: 0.2s;
    word-wrap: break-word;
    border-radius: 5px;
    height: auto;
    width: 93%;
    background: rgb(255, 255, 255, 0.2);
    padding: 5px 5px 5px 10px;
    margin-bottom: 4px;
    color: #FFFFFF;
    font-size: 15px;
    outline: none;
    overflow: hidden;
    font-weight: 600;
}

/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px 0px 5px 15px;
    padding: 0 4px 1px 4px;
    border-radius: 15px;
    color: #BEBBD4;
}

.main_deck {
    border: 0;
    border-radius: 5px;
    height: auto;
    width: 93%;
    background: rgb(255, 255, 255, 0.2);
    padding: 5px 5px 5px 10px;
    margin-bottom: 4px;
    color: #FFFFFF;
    font-size: 15px;
    outline: none;
    font-weight: 600;
}

.subdeck {
    border: 0;
    border-radius: 5px;
    height: auto;
    width: 85%;
    background: rgb(255, 255, 255, 0.2);
    padding: 5px 5px 5px 10px;
    margin-bottom: 4px;
    color: #FFFFFF;
    font-size: 15px;
    outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #FFFFFF;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #FFFFFF;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #FFFFFF;
  }

input:hover {
    background: rgb(255, 255, 255, 0.3);
}

main {
    transition: 0.5s;
    height: 100%;
    overflow: hidden;
    display: flex;
}

.typing_area_cont {
    transition: .5s;
    transform: translateX(50px);
    right: 100%;
    top: 0;
    right: 0;
    margin: 30px 0;
    display: flex;
    width: 89%;
    height: 88%;
    position: sticky;
}

.typing_area {
    width: 100%;
    height: 100%;
    resize: none;
    outline: none;
    border: none;
    right: 0;
    padding: 30px 100px;
    line-height: 22px;
    text-align: justify;
    background-color:#f7f7f7;
    border-radius: 30px;
    display: inline-block;
}
.typing_area::placeholder {
    color: #BEBBD4;
}
.typing_area:hover {
    cursor: pointer;
}

.on_hover_nav {
    transform: translateX(30px);
    left: 100%;
    top: 0;
    left: 0;
    margin: 30px 0;
}

.on_hover_nav_item {
    background: #BEBBD4;
    border-radius: 10px;
    clear: both;
    color: #4F4D5D;
    float: left;
    margin-bottom: 8px;
    padding: 10px;
    font-size: 10px;
    border: 0;
    height: 2.9vw;
    width: 2.9vw;
    outline: none;
}

.on_hover_nav_item:hover {
    background: #9A97B4;
    cursor: pointer;
}

i {
    color: #FFFFFF;
}